# This is a basic workflow to help you get started with Actions

name: Diffs Dev Master

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ develop ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    # Install aws cli
    - name: AWS cli install action
      uses: chrislennon/action-aws-cli@1.1

    - name: Create dir
      run: mkdir upload
      
    - name: Install s3 upload
      uses: shallwefootball/s3-upload-action@master
      with:
          aws_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws_bucket: ${{ secrets.AWS_BUCKET }}
          source_dir: 'upload'

    # Runs a single command using the runners shell
    - name: Welcome
      run: echo Welcome to the auto-version-doc prototipe!
      
    # git fetch
    - name: Git fetch
      run: git fetch --prune --unshallow
      
    # Runs a set of commands using the runners shell
    - name: Git diffs to master and save
      run: git log origin/master.. --pretty=oneline > gitlog.txt
      
    - name: List s3 test
      env: 
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: aws configure list
